.page-footer {
  color: #6c757d;
}

.page-footer .container-fluid {
  background-color: #f8f9fa;
}

.footer-content {
  font-size: 14px;
}

.footer-copyright {
  background-color: #e0e0e0;
}

.footer-posts, .footer-categories {
  font-size: 14px;
}

#layout-footer {
}

.post-image {
  /*float: left;*/
  margin-right: 10px;
}

.ajax-progress {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.33;
  background-color: #f6f6f6;
}

.progress-icon {
  position: absolute;
  top: 40%;
  left: 40%;
}
