@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

a {
    cursor: pointer;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
}

h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.275rem;
    color: var(--bs-emphasis-color);
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 0.875rem;
    opacity: 1;
    overflow-y: scroll;
    margin: 0;
}

/* Layout for admin dashboard skeleton */

.wrapper {
    align-items: stretch;
    display: flex;
    width: 100%;
}

#sidebar {
    position: relative;
    max-width: 264px;
    min-width: 264px;
    transition: all 0.35s ease-in-out;
    background-color: #212529;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 0;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    width: 100%;
}

/* Sidebar Elements Style */

.sidebar-logo {
    padding: 1.15rem;
    border-bottom: 0.1rem solid #484848;
}

.sidebar-user {
    border-bottom: 0.1rem solid #484848;
}

.sidebar-logo a {
    color: #e9ecef;
    font-size: 1.15rem;
    font-weight: 600;
}

.sidebar-nav {
    flex-grow: 1;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    margin-left: 0;
}

.sidebar-header {
    color: #e9ecef;
    font-size: .75rem;
    padding: 1.5rem 1.5rem .375rem;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #e9ecef;
    position: relative;
    display: block;
    font-size: 0.875rem;
}

.sidebar-main-item:not(.active, .dashboard, .files) .sidebar-link:not(.collapsed) {
    background-color: #454545;
}

.sidebar-main-item.active {
    background-color: #dbdbdb;
}

.sidebar-main-item.active a {
    color: #505050;
}

.list-group-item {
    background-color: transparent;
}

.list-group-item {
    border: solid #484848;
}

.list-group-item-action:not(.active):hover {
    background-color: #454545;
}

.sidebar-main-item:not(.active):hover {
    background-color: #454545;
}

.avatar {
    height: 40px;
    width: 40px;
}

.navbar-expand .navbar-nav {
    margin-left: auto;
}

.top-navbar {
    background-color: #f1f1f1;
}

.content {
    flex: 1;
    max-width: 100vw;
    width: 100vw;
}

@media (min-width:768px) {
    .content {
        max-width: auto;
        width: auto;
    }
}

.card {
    box-shadow: 0 0 .875rem 0 rgba(34, 46, 60, .05);
    margin-bottom: 24px;
}

/* Sidebar Toggle */

#sidebar.collapsed {
    margin-left: -264px;
}

/* Footer and Nav */

.footer {
    background-color: #dbdbdb;
    
}

@media (max-width:767.98px) {

    .js-sidebar {
        margin-left: -264px;
    }

    #sidebar.collapsed {
        margin-left: 0;
    }

    .navbar,
    footer {
        width: 100vw;
    }
}

/* -------------------------- */

tr.clickable-row {
  cursor: pointer;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  color: #4d4d4d !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
  border: 1px solid #dee2e6 !important;
}

.select2-container--default .select2-selection--single, 
.select2-container--default .select2-selection--multiple, 
.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: 1px solid #dee2e6 !important;
}

.select2-container .select2-selection--single {
  height: calc(2.25rem + 2px) !important;
}

.checked-out {
  max-width: 100%;
}

.disable-panel {
  position: absolute;
  z-index: 100;
  opacity: 0.5;
  max-width: 264px;
  min-width: 264px;
  height: 100%;
  background-color: white;
}

.top-panel {
  max-width: 99% !important;
  min-width: 99% !important;
}

/** Batch modal window **/
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 10px;
  border: 1px solid #888;
  width: 50%;
  height: 50%;
}

#batchIframe {
  width: 100%;
  height: 100%;
}

/* remove X from locked tag */
.locked-tag .select2-selection__choice__remove {
  display: none!important;
}

.private-tag {
  background-color: #f6f6f6 !important;
}

.indent-0 {
}

.indent-1 {
  padding-left: 10px;
}

.indent-2 {
  padding-left: 20px;
}

.indent-3 {
  padding-left: 30px;
}

.indent-4 {
  padding-left: 40px;
}

.indent-5 {
  padding-left: 50px;
}

#batchForm .select2-container {
  width: 100% !important;
}

.post-image {
  padding: 10px;
}

.ajax-progress {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.33;
  background-color: #f6f6f6;
}

.progress-icon {
  position: absolute;
  top: 40%;
  left: 40%;
}

#itemForm {
  padding-bottom: 30px;
}

